<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />-->
<link rel="stylesheet" type="text/css" href="/static/base.css" />
<script type="text/javascript">
var menu_displayed = 0;
function DisplayMenu() {
  if(menu_displayed == 0) {
    document.getElementById("menu").style.display = 'block';
    menu_displayed = 1;
  }
  else {
    document.getElementById("menu").style.display = 'none';
    menu_displayed = 0;
  }
}  
function DisplayGameForm(){
  string = "";
  string += "<form action=\"/request_game/\" method=\"post\" enctype=\"multipart/form-data\">";
  string += "{% csrf_token %}"
  string += "<select name=\"num_players\">";
  string += "<option value=2>2</option>";
  string += "<option value=3>3</option>";
  string += "<option value=4>4</option>";
  string += "<option value=5>5</option>";
  string += "</select> players<br>";
  //string += "<br><input type=\"checkbox\" name=\"has_cpu\" value=\"1\" />Include CPU<br>";
  string += "<input type=\"submit\" name=\'submit_type\' value=\"Submit Request\" class=\"button\" />";
  string += "</form>";
  document.getElementById('game_settings').innerHTML = string
} 
</script>
</head>
<body>
<div style="text-align:right" class ="nav">
    <a onclick="DisplayMenu()" href="javascript:void(0);"><h2>{{ username }}</h2></a>
    <ul id="menu" Class = "menu">
      <!--<li><a href="#">My Posts</a></li>-->
      <li><h2><a href="/logout/">Log Out</a></h2></li>
    </ul>
    <br>
</div>
<br>
<div class="center">
<br>
<h1><a onclick="DisplayGameForm()" href="javascript:void(0);">Start Game</a></h1>
<div id= 'game_settings'></div>
<br>
<br>
<h1><a href="/join_game/">Join Game</a></h1>
<br>
<br>
<h1><a href="/?inagame=1&playing_cpu=1">Play Cpu</a></h1>
<br>
</div>
</body>

